body{
    margin-top:150px;
}

#setup h1{
	margin-bottom:40px;
}

.heartRate{
	margin-bottom:40px;
}

#slider{
	width:30%;
	display:inline-block;
	margin:0 40px;
}

#machine{
	width:20%;
	font-size:24px;
	margin:0px 0px 20px 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:#bdc3c7;
}

.button{
	margin-top:80px;
}

.level{
	display:inline-block;
}

.label{
	margin-bottom:10px;
}